<div ng-controller="patients" ng-init="setup()">

<h1>Patients Waiting to be Treated:</h1>
<div ng-repeat="patient in patients | orderBy:'-patient_score':false" ng-show="patient.status === 'Waiting'">
  <h2>Name: {{ patient.first_name }} {{ patient.last_name }}</h2>
  <ul>
    <li>Email: {{ patient.email }}</li>
    <li>Gender: {{ patient.gender }}</li>
    <li>Birthdate: {{ patient.birthdate }}</li>
    <li>Reason for Visit: {{ patient.reason_for_visit }}</li>
    <li>Patient Score: {{ patient.patient_score | number:0 }}</li>
    <li ng-click="checkIn(patient)" class="btn btn-primary">Check In</li>
    <timer start-time="calculateStartTime(patient.created_at)">{{hours}} hour{{hoursS}}, {{minutes}} minute{{minutesS}}, {{seconds}} second{{secondsS}}.</timer>
  </ul>
</div>
</div>